
h2.example_title{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.50em;
	font-weight: 400;
}
p.example_desc{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.17em;
	font-weight: 400;
	padding-bottom: 10px;
}
h2.main_title{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.67em;
	font-weight: 400;
	padding: 25px 0 15px 0;
	color: #0095DD;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.33em;
	font-weight: 400;
}
ul li{
	font-size: 1.17em;
	margin: 0 0 0 15px;
}

.dummy{
	
	padding: 15px;
	background: #F2F5F7;
	border: 1px solid #EAEFF2;
	margin-bottom: 25px;
}
.dummy p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.08em;
}



/* FOOTER */
#footer{
	padding: 2.50em 0;	
}
#footer p{
	font-size: 1.00em;
	font-weight: 300;
	color: #484848;
}



/* pre element */
pre {
	width: 910px;
	overflow-x: auto;
	padding: 20px 25px;
	margin-bottom: 25px;
	font-size: 1.17em;
	color: #454545;
	background-color: #F5F7F7;
	background-image: url(../images/blueprint-dark.png);
	background-repeat: repeat;
	border-left: 5px solid #558CBD;
}
pre .line-number {
	font-size: 0.90em;
	float: left;
  	margin: 0 1em 0 -1em;
  	border-right: 1px solid #ccc;
  	text-align: right;
  	color: #708090;
}
pre .line-number span {
  	display: block;
  	padding: 0 0.5em 0 1em;
}
pre .cl {
  	display: block;
  	clear: both;
}
pre span.comment { color:#708090; }
pre span.highlight { font-weight:bold; }
pre span.declare { color:#0095DD; }
pre span.string { color:#690; }
pre span.bool { color:#B80000; }